.container {  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 0.6fr 0.8fr 1fr 1.1fr 1fr;
  gap: 32px 32px;
  grid-auto-flow: row;
  grid-template-areas:
    "Name Experiences"
    "Picture Experiences"
    "Profile Skills"
    "Profile Education"
    "Hobbies Hobbies";
}

.Picture { grid-area: Picture; }

.Experiences { grid-area: Experiences; }

.Profile { grid-area: Profile; }

.Skills { grid-area: Skills; }

.Education { grid-area: Education; }

.Hobbies { grid-area: Hobbies; }

.Name { grid-area: Name; }
